.home-page {
  height: 100vh;
  overflow-y: hidden;
}
.home-page_info {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.home-page_info_title_name {
  font-size: 2.3rem;
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.home-page_info_title_subtitle {
  font-size: 1.3rem;
}
.home-page_info_profile {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.home-page_info_profile_img {
  width: 100%;
}
.home-page_summary {
  margin-top: 2rem;
  display: grid;
  gap: 10px;
}
.home-page_summary_title {
  font-size: 1rem;
}
.home-page_summary_text {
  font-size: 0.9rem;
}
.home-page_summary_slogan {
  color: var(--color-neutral-400);
  font-size: 0.7rem;
}
.home-page_social-media {
  display: flex;
  gap: 5px;
  font-size: 1.6rem;
  margin-top: 0.7rem;
}
.home-page_social-media_link {
  color: #1aa37a;
}
.home-page_btn {
  display: inline-block;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #1aa37a;
  background-image: linear-gradient(45deg, #1aa37a, #9dffb3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #1aa37a, #9dffb3);
}
@media only screen and (max-width: 530px) {
  .home-page_info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .home-page_btn {
    font-size: 0.8rem;
  }
  .home-page_info_title {
    text-align: center;
  }
  .home-page_info_title_name {
    font-size: 1.5rem;
  }
  .home-page_info_title_subtitle {
    font-size: 0.9rem;
  }
  .home-page_summary {
    margin-top: 1rem;
  }
  .home-page_summary_title {
    font-size: 0.8rem;
  }
  .home-page_summary_text {
    font-size: 0.8rem;
  }
  .home-page_social-media {
    position: absolute;
    flex-direction: column;
    top: 2.6rem;
    left: 0;
    margin: 0;
  }
  .home-page_social-media_link {
    width: fit-content;
    height: fit-content;
  }
}
@media only screen and (max-width: 350px) {
  .home-page_info_profile {
    width: 170px;
    height: 170px;
  }
}
